@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Moon+Dance&family=Pacifico&family=Passions+Conflict&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

/*
font-family: 'Great Vibes', cursive;
font-family: 'Moon Dance', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Passions Conflict', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.collections-font {
  font-family: "Great Vibes", cursive;
}
